<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    </h:head>
    <h:body>
        <h:form id="helloFormId">
            <h:panelGrid columns="1">
                <f:facet name="header">
                    Kontrolki index
                </f:facet>
                <h:outputText value="Hello world" />
                <h:outputText value="#{testBean.counter}" />
                <p:commandButton value="Inc" 
                                 action="#{testBean.inc()}"
                                 update="helloFormId" />
                <p:commandButton value="Next page"
                                 action="#{testBean.nextPage()}"/>
                <h:outputText value="Service msg:" />
                <h:outputText value="#{testBean.srvMsg}" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>